# =====================
# IDE (Eclipse / STS)
# =====================
.metadata/
.settings/
.project
.classpath
.factorypath

# =====================
# Backend
# =====================
backend/target/
backend/.settings/
backend/.classpath
backend/.project

# =====================
# Frontend (future)
# =====================
frontend/node_modules/
frontend/dist/

# =====================
# Logs
# =====================
*.log
